@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_master.cshtml";
}

<!--page title end-->
<br />
<section class="content" style="width:1300px"> 
         <div class="row mar_gin" style="width:1300px">
              <div class="col-md-12" style="width:1300px">
                   <div class="col-md-12 col-sm-12 welcome" style=" ">
                        <div class="col-md-4">
                             <div class="u-profilepic">
                                  <img src="~/Images/team_member2.png" alt="" class="img-responsive">
                             </div>
                        </div>
                        <div class="col-md-8" style="">
                        <div class="profile-info table-responsive" style="">
                             <table class="table">
                                 <tbody>

                                     <tr>
                                         <td><strong> User ID</strong></td>
                                         <td>:</td>
                                         <td>@ViewBag.id</td>
                                     </tr>
                                     <tr>
                                         <td><strong>Sponsor ID</strong></td>
                                         <td>:</td>
                                         <td>@ViewBag.sponsor_id</td>
                                     </tr>
                                     <tr>
                                         <td><strong>Name </strong></td>
                                         <td>:</td>
                                         <td>@ViewBag.Name</td>
                                     </tr>
                                     <tr>
                                         <td><strong>Password</strong></td>
                                         <td>:</td>
                                         <td>@ViewBag.password</td>
                                     </tr>
                                     <tr>
                                         <td><strong>Join Date </strong></td>
                                         <td>:</td>
                                         <td>@ViewBag.AssignedDate</td>
                                     </tr>
                                 </tbody>
                             </table>
                        </div>
                   </div>
                   <div class="wel-text" style="">      
                        <p>Dear <strong></strong></p>
                        <p>Congratulations on Your Decision To Soar Sky High with Us!</p>
                        <p>Welcome to Entered Signet India Mart ! We wish you a great success and assure you that you will enjoy being a part of our successful Organization!.</p><br>
                        <p>Winning Regards,</p>
                        <p>www.esimonline.com</p>
                   </div>
              </div>            
         </div>
    </div>
</section>

