@model gicmart.Models.users
@{
    ViewBag.Title = "registration";
    Layout = "~/Views/Shared/_master.cshtml";
}
<div style="background-color:steelblue; width:118%;height:100px;margin-left:-105px;margin-right:0px">
    @*<div style="float:left;height:100px;padding:40pxs"><h4 style="color:lightskyblue">business plan</h4></div>*@
    <div style="float:left;color:white;padding:40px;height:100px"><h4><a href="@Url.Action("registration", "registration")" style="color:white">Registration</a></h4></div>
    <div style="float:right;padding-right:100px;color:white;height:100px">
       <div style="float:left;color:white;padding:0px;height:100px;margin-top:40px"><h4><a href="@Url.Action("index", "home")" style="color:lightskyblue">Home</a></h4></div>
       <div style="float:right;color:white;padding:10px;height:100px;margin-top:30px"><h4><a href="@Url.Action("login", "login")" style="color:lightskyblue">Login</a></h4></div>     
    </div>
</div>
<br />
@using (Html.BeginForm("register", "registration", FormMethod.Post))
{
    if (ViewBag.Message == "Success")
    {
        <div class="alert alert-success fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> Data Saved successfully.
        </div>
    }

    if (ViewBag.Message == "Fail")
    {
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong>  while submitting your data.
        </div>
    }
    if (ViewBag.Pin == "Fail")
    {
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong> Invalid Pin.
        </div>
    }
<div class="container" style="">
    <div class="row">
        <div class="col-md-4">@Html.LabelFor(Model => Model.userid, htmlAttributes: new { @class = "control-label" })</div>
        <div class="col-md-2"></div>
        <div class="col-md-4">@Html.LabelFor(Model => Model.sponsorid, htmlAttributes: new { @class = "control-label" })</div>
        </div>
    <div class="row">
        <div  class="col-md-4"> @Html.TextBoxFor(Model => Model.userid, new { @class="form-control", @readonly = "readonly"})</div>
        <div class="col-md-2"></div>
        <div class="col-md-4">@Html.TextBoxFor(Model => Model.sponsorid, new { @class = "form-control", @id = "txt_spnsorId", required = "required" })</div>
    </div>
    <div class="row" style="margin-top:2% !important">
        <div class="col-md-4">@Html.LabelFor(Model => Model.pin, htmlAttributes: new { @class = "control-label" })</div>
        <div class="col-md-2"></div>
        <div class="col-md-4">@Html.LabelFor(Model => Model.sponsorname, htmlAttributes: new { @class = "control-label" })</div>
    </div>
    <div class="row">
        <div class="col-md-4">@Html.TextBoxFor(Model => Model.pin, new { @class = "form-control",@id="txt_pinId", required = "required" })</div>
        <div class="col-md-2"></div>
        <div class="col-md-4">  @Html.TextBoxFor(Model => Model.sponsorname, new { @class="form-control", @readonly = "readonly", @id = "txt_spnsorName" })</div>
    </div>
        <br /><br />
        <div style="margin-left:100px" id="div_text">Basic Information</div>
        <br />
    <div class="row" style="margin-top:2% !important">
        <div class="col-md-4">@Html.LabelFor(Model => Model.name, htmlAttributes: new { @class = "control-label" })</div>
        <div class="col-md-2"></div>
        <div class="col-md-4">@Html.LabelFor(Model => Model.mobileno, htmlAttributes: new { @class = "control-label" })</div>
    </div>
    <div class="row">
        <div class="col-md-4">@Html.TextBoxFor(Model => Model.name, new { @class = "form-control" })</div>
        <div class="col-md-2"></div>
        <div class="col-md-4">  @Html.TextBoxFor(Model => Model.mobileno, new { @class = "form-control" })</div>
    </div>
    <div class="row" style="margin-top:2% !important">
        <div class="col-md-4">@Html.LabelFor(Model => Model.password, htmlAttributes: new { @class = "control-label" })</div>
        <div class="col-md-2"></div>
        <div class="col-md-4">@Html.LabelFor(Model => Model.pancardno, htmlAttributes: new { @class = "control-label" })</div>
    </div>
    <div class="row">
        <div class="col-md-4">@Html.TextBoxFor(Model => Model.password, new { @class = "form-control", required = "required" })</div>
        <div class="col-md-2"></div>
        <div class="col-md-4"> @Html.TextBoxFor(Model => Model.pancardno, new { @class = "form-control" })</div>
    </div>
    <div class="row" style="margin-top:2% !important">
        <div class="col-md-4">@Html.LabelFor(Model => Model.nomineename, htmlAttributes: new { @class = "control-label" })</div>
        <div class="col-md-2"></div>
        <div class="col-md-4">@Html.LabelFor(Model => Model.address, htmlAttributes: new { @class = "control-label" })</div>
    </div>
    <div class="row">
        <div class="col-md-4">@Html.TextBoxFor(Model => Model.nomineename, new { @class = "form-control", required = "required" })</div>
        <div class="col-md-2"></div>
        <div class="col-md-4"> @Html.TextBoxFor(Model => Model.address, new { @class = "form-control" })</div>
    </div>
    <div class="row" style="margin-top:2% !important">
        <div class="col-md-4">@Html.LabelFor(Model => Model.state, htmlAttributes: new { @class = "control-label" })</div>
        <div class="col-md-2"></div>
        <div class="col-md-4">@Html.LabelFor(Model => Model.city, htmlAttributes: new { @class = "control-label" })</div>
    </div>
    <div class="row">
        <div class="col-md-4">@Html.TextBoxFor(Model => Model.state, new { @class = "form-control" })</div>
        <div class="col-md-2"></div>
        <div class="col-md-4">@Html.TextBoxFor(Model => Model.city, new { @class = "form-control" })</div>
    </div>
        <div class="col-md-12" style="margin-left:85px">
          <div class="form-group">
             <label><input required type="checkbox"> Term & Condition</label><br /><br />
             <button type="submit" class="btn btn-default" style="margin-left:400px">Submit</button>
              <button type="reset" class="btn btn-default" style="margin-left:400px">Reset</button>
          </div>
        </div> 



    <div style="margin-left:100px;font-size:19px !important" id="div_text">Login Information</div>

    <div class="row" style="margin-top:6% !important">
        <div class="col-md-4">@Html.LabelFor(Model => Model.loginName, htmlAttributes: new { @class = "control-label" })</div>
        <div class="col-md-2"></div>
        <div class="col-md-4">@Html.LabelFor(Model => Model.loginPassword, htmlAttributes: new { @class = "control-label" })</div>
    </div>
    <div class="row">
        <div class="col-md-4">@Html.TextBoxFor(Model => Model.loginName, new { @class = "form-control" , @readonly = "readonly" , @Value = @ViewBag.loginValue })</div>
        <div class="col-md-2"></div>
        <div class="col-md-4">@Html.TextBoxFor(Model => Model.loginPassword, new { @class = "form-control", @readonly = "readonly", @Value = @ViewBag.loginPassword })</div>
    </div>
</div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#txt_pinId").blur(function () {
           
            var pinId = $("#txt_pinId").val();
            $.ajax
            ({
                url: '/registration/GetPinStatus',
                type: 'POST',
                datatype: 'application/json',
                rownumbers: true,
                contentType: 'application/json',
                data: JSON.stringify({
                    pinId: pinId
                }),
                success: function (result) {
                        $.each((result), function (i, state) {
                            if(state==1)
                            {
                                $("#div_text").html("Valid Pin");
                                $("#div_text").css('font-size','40px');
                            }
                            else
                            {
                                $("#div_text").html("InValid Pin");
                                $("#div_text").css('font-size', '40px');
                            }
                        })
                },
                error: function (result) {
                    alert("Whooaaa! Something went wrong..")
                },
            });

        });
        $("#txt_spnsorId").blur(function () {

            var sponsorId = $("#txt_spnsorId").val();
            $.ajax
            ({
                url: '/registration/GetSponsorName',
                type: 'POST',
                datatype: 'application/json',
                rownumbers: true,
                contentType: 'application/json',
                data: JSON.stringify({
                    sponsorId: sponsorId
                }),
                success: function (result) {
                    $.each((result), function (i, state) {
                            $("#txt_spnsorName").val(state);
                    })
                },
                error: function (result) {
                    alert("Whooaaa! Something went wrong..")
                },
            });

        });
    });
</script>